body{
    background:#385667;
    margin: 10%;
  }

.section-1, .section-2, .section-3 {
display: flex;
justify-content: center;
column-gap: 20px;
margin: 20px;

    
}

.big-1, .big-2, .big-3, .big-4, .big-5, .big-6 {
    background-color: #f1f1f1;
    border-radius: 10px;
    width: 600px;
    height: 200px;
    display: flex;
}


.small-1, .small-2, .small-3 {
    background-color: #a44235;
    border-radius: 10px;
    width: 80px;
    height: 80px;
    margin: 20px;

}

.big-1{
    align-items: flex-end;
    
}

.big-2{
    align-items: stretch;
    justify-content: center;
}

.big-3{
    align-items: center;
    justify-content: flex-end;
}

.big-4{
    justify-content: space-between;
}

.big-4 .small-3{
    align-self: end;
} 

.big-5{
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    color: #f1f1f1;
    align-self: flex-end;
}

.big-5 .small-1, .big-5 .small-3{
    align-self: flex-end;
    align-content: stretch;
}

.big-6{
    justify-content: center;
    align-items: center;
}

.big-6 .small-2{
    flex-grow: 2;
}